http:
  routers:
    http-redirect:
      rule: HostRegexp(`.*`)
      middlewares:
        - https-redirect
      service: noop@internal
      priority: 1

    archivesspace-atexports:
      rule: PathPrefix(`/assets/ATexports`)
      middlewares:
        - upenn-allowlist
      service: archivesspace
      tls: {}

    archivesspace-staff:
      rule: PathPrefix(`/staff`) || Host(`archivesspace-staff.lib.lehigh.edu`) || Host(`as-staff-test.lib.lehigh.edu`)
      middlewares:
        - oncampus
      service: archivesspace-staff
      tls: {}

    archivesspace-api:
      rule: PathPrefix(`/api`)
      middlewares:
        - api-stripprefix
        - oncampus
      service: archivesspace-api
      tls: {}

    archivesspace-oai:
      rule: PathPrefix(`/oai`)
      service: archivesspace-oai
      tls: {}

    archivesspace:
      rule: PathPrefix(`/`)
      middlewares:
        - captcha-protect
      service: archivesspace
      tls: {}

  services:
    archivesspace:
      loadBalancer:
        servers:
          - url: http://app:8081
    archivesspace-api:
      loadBalancer:
        servers:
          - url: http://app:8089
    archivesspace-oai:
      loadBalancer:
        servers:
          - url: http://app:8082
    archivesspace-staff:
      loadBalancer:
        servers:
          - url: http://app:8080
  middlewares:
    api-stripprefix:
      stripPrefix:
        prefixes:
          - "/api"
    upenn-allowlist:
      ipAllowList:
        sourceRange:
          - "165.123.34.148/32"
          - "128.180.0.0/16"
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true
    oncampus:
      ipAllowList:
        sourceRange:
          - "128.180.0.0/16"
    captcha-protect:
      plugin:
        captcha-protect:
          rateLimit: 0
          ipv4subnetMask: 8
          # 10d
          window: 864000
          protectRoutes: /
          protectParameters: "true"
          loglevel: {{ env "LOG_LEVEL" }}
          challengeTmpl: /challenge.tmpl.html
          challengeURL: ""
          challengeStatusCode: 429
          captchaProvider: turnstile
          siteKey: "{{ env "TURNSTILE_SITE_KEY" }}"
          secretKey: "{{ env "TURNSTILE_SECRET_KEY" }}"
          enableStatsPage: "true"
          exemptIps:
            # Lehigh range
            - 128.180.0.0/16
            # Lehigh Guest Network
            - 4.59.138.56/29
            - 162.223.16.248/29
            - 208.220.178.48/28
            - 209.66.120.16/28
          goodBots:
            - apple.com
            - archive.org
            - commoncrawl.org
            - duckduckgo.com
            - iframely.com
            - facebook.com
            - instagram.com
            - kagibot.org
            - linkedin.com
            - msn.com
            - openalex.org
            - twitter.com
            - x.com
          persistentStateFile: /data/state.json
          enableGooglebotIPCheck: "true"
          periodSeconds: 30
          failureThreshold: 3
tls:
  certificates:
    - certFile: /run/secrets/CERT_PUBLIC_KEY
      keyFile: /run/secrets/CERT_PRIVATE_KEY
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
