# Run any pending db migrations on startup
ASPACE_DB_MIGRATE="true"

# solr config
SOLR_JAVA_MEM="-Xms1g -Xmx2g"

# Java options
ASPACE_JAVA_XMX="-Xmx6144m"
JAVA_OPTS="-Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xss1024k -Djavax.accessibility.assistive_technologies=''"

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# database config
MYSQL_ROOT_PASSWORD=""
MYSQL_DATABASE="archivesspace"
MYSQL_USER="as"
MYSQL_PASSWORD=""
