# Set hostname for config.rb
AS_HOSTNAME=hostname.domain.tld

# Run any pending db migrations on startup
ASPACE_DB_MIGRATE="true"

# solr config
SOLR_JAVA_MEM="-Xms1g -Xmx2g"

# Java options
ASPACE_JAVA_XMX="-Xmx6144m"
JAVA_OPTS="-Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xss1024k -Djavax.accessibility.assistive_technologies=''"

TURNSTILE_SITE_KEY=your_site_key_here
TURNSTILE_SECRET_KEY=your_secret_key_here

# database config
MYSQL_ROOT_PASSWORD="your_mysql_root_password_here"
MYSQL_DATABASE="archivesspace"
MYSQL_USER="as"
MYSQL_PASSWORD="your_mysql_password_here"
COMPOSE_PROJECT_NAME=archivesspace-docker-config
