.env
config/*
!config/config.rb
backups/*
!backups/.keep
sql/*
!sql/.keep
certs/*
!certs/.keep
docker-compose.override.yml
plugins/lehigh/public/assets/ASexports/
scripts/mkead/mkead-output.csv
scripts/mkead/ARCHIVIST-QUESTIONS.md
