[Unit]
Description=archivesspace
BindsTo=docker.service
After=docker.service
StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
User=root
Group=root
Type=oneshot
WorkingDirectory=/opt/archivesspace-docker-config
Environment="HOSTNAME=%H"
ExecStartPre=-touch /opt/archivesspace-docker-config/rollout.lock
ExecStart=/usr/bin/docker compose up -d
ExecStartPost=-rm -f /opt/archivesspace-docker-config/rollout.lock
Restart=on-failure
RestartSec=15s
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
