<link rel="stylesheet" href="https://www.lehigh.edu/~inltswms/include/ltstemplate/css/styles.min.css">

<header class="lehigh-header">
    <nav class="lehigh-nav lehigh-header-nav lehigh-navbar">
        <div class="lehigh-branding">
            <div class="lehigh-container-fluid">
                <div class="lehigh-row lehigh-align-items-center">
                    <div class="utility-nav--start lehigh-navbar-brand leh-col-md-4">
                      <a href="http://lts.lehigh.edu">
                        <img src="https://lehigh.edu/~inltswms/images/logos/lehighuniversity-lts-wordmark.svg"
                            width="300px" height="43" alt="" />
                      </a>
                    </div><!-- utility-nav--start -->
                    <div class="utility-nav--mid leh-col-md-5">
                        <div class="lehigh-navbarSupportedContent">
                            <ul class="lehigh-d-flex lehigh-justify-content-between">
                                <li><a href="/">Archives Home</a></li>
			        <li class="dropdown"><a class="dropdown-toggle" href="#" id="/repositories/resources" role="button" aria-expanded="false" data-bs-toggle="dropdown">
			          <span>Browse</span></a>
			            <ul class="dropdown-menu">
			              <li><a href="/repositories/resources" class="dropdown-item">Browse Collections</a></li>
			              <li><a href="/subjects" class="dropdown-item">Browse Subjects</a></li>
			              <li><a href="/agents" class="dropdown-item">Browse Names</a></li>
			              <li><a href="/classifications" class="dropdown-item">Browse Record Groups</a></li>
			            </ul>
                                </li>
				<li><a href="/static/html/help.html">Help</a>
                                <li><a href="/search?reset=true"><img class="leh-search--icon icon" src="https://www.lehigh.edu/~inltswms/images/icons/search.svg" alt="Location"
                        width="24" height="24" /></a></li>
                            </ul>
                        </div>
                    </div><!-- end utility-nav--mid -->
                </div>
            </div>    

        </div><!-- end container-fluid -->
<div class="faux-navbar">
<p></p>
</div>        

<!-- begin mobile menu -->

 <div class="lehigh-main-nav">
        <div class="container-fluid">
          <button class="trigger p-4" id="lehigh-navbar-toggler" type="button"
            aria-controls="lehigh-navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <img class="icon icon-close open" src="https://www.lehigh.edu/~inltswms/images/icons/menu.svg" alt="">
              <img class="icon close" src="https://www.lehigh.edu/~inltswms/images/icons/close.svg" alt="">
            </span>
          </button>
          <div id="lehigh-navbarSupportedContent" class=" collapse nav-wrapper lehigh-max-width lehigh-mx-auto">
            <div class="lehigh-row">
              
      <ul class="lehigh-navlist lehigh-justify-content-between lehigh-align-items-center">
  
          <li class="">
                  <a href="/" class="">
            Archives Home
          </a>
              </li>
          <li class="lehigh-dropdown">
                            <a class="lehigh-dropdown-toggle" href="#" id="mobile-dropdown-2140820437" role="button" aria-expanded="false">
            Browse
            <img class="icon" src="https://www.lehigh.edu/~inltswms/images/icons/expand_more.svg" alt="Location" width="24" height="24">
          </a>
          <div class="lehigh-dropdown-menu" aria-labelledby="mobile-dropdown-2140820437">
            <div class="nav-section">
                      <ul>
            <li class="">
                  <a href="/repositories/resources" class="">
            Browse Collections
          </a>
              </li>
          <li class="">
                  <a href="/subjects" class="">
            Browse Subjects
          </a>
              </li>
          <li class="">
                  <a href="/agents" class="">
            Browse Names
          </a>
              </li>
          <li class="">
                  <a href="/classifications" class="">
            Browse Record Groups
          </a>
              </li>
      </ul>
            </div>
          </div>
              </li>
          <li class="">
                  <a href="/static/html/help.html" class="">
            Help
          </a>
              </li>
          <li class="">
                  <a href="/search?reset=true" class="">
            Search
          </a>
              </li>

            </div>
          </div><!-- end nav-wrapper -->
        </div><!-- end container fluid -->
      </div><!-- end main-nav -->
    </div>

<!-- end mobile menu -->

        
     

    </nav>
</header>
